<%= form_for @availability_range do |f| %>
  <h5 class="center">Change Availabilty for <%= @availability_range.weekday_name %></h5>
  <%= f.label :start_time %>
  <%= f.select(:start_time, AvailabilityRange::HOURS_OF_DAY) %>
  <br>
  <%= f.label :end_time %>
  <%= f.select(:end_time, AvailabilityRange::HOURS_OF_DAY) %>
  <span class="actions">
  <%= f.submit "Submit New Available Hours", class: "btn waves-effect waves-light"%>
  </span>
<% end %>
