<h3>Availability</h3>
<table>
  <tr>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% @teacher.availability_ranges.each do |r| %>
  <tr>
    <td><%= "#{r.weekday_name}" %></td>
    <td><%= "#{r.start_time_to_12h}" %></td>
    <td><%= "#{r.end_time_to_12h}" %></td>
  <% if current_user !=nil && current_user.id == @teacher.user_id %>
    <td> <%= link_to "Edit", edit_availability_range_path(r.id) %> <%= link_to "Delete" %> </td>
    <% end %>
  </tr>
  <% end %>
</table>
