  <div class="row center">
    <div class="col s2 offset-s1">Day</div>
    <div class="col s2">Start Time</div>
    <div class="col s2">End Time</div>
    <div class="col s4"></div>
  </div>

<% (0..6).to_a.each do |d| %>
  <div class="row center">
    <% if @teacher.availability_ranges.find_by(weekday: d) %>
    <% t = @teacher.availability_ranges.find_by(weekday: d) %>
      <div class="col s2 offset-s1"><%= "#{t.weekday_name}" %></div>
      <div class="col s2"><%= "#{t.start_time_to_12h}" %></div>
      <div class="col s2"><%= "#{t.end_time_to_12h}" %></div>
        <% if current_user && current_user.id == @teacher.user_id %>
          <div class="col s12 m4"><button class="btn grey lighten-2 waves-teal waves-effect waves-light"><%= link_to "Edit", edit_availability_range_path(t.id) %></button>
            <button class="btn grey lighten-2 waves-teal waves-effect waves-light "><%= link_to "Delete", availability_range_path(t.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}%></button>
          </div>
        <% end %>
    <% else %>
      <% if current_user && current_user.id == @teacher.user_id %>
      <% @availability_range = AvailabilityRange.new %>
      <%= form_for @availability_range do |f| %>
        <div class="col s2 offset-s1"><%= "#{Date::DAYNAMES[d]}" %> <%= f.hidden_field(:weekday, value: d)%></div>
        <div class="col s2"><%= f.select(:start_time, AvailabilityRange::HOURS_OF_DAY) %></div>
        <div class="col s2"><%= f.select(:end_time, AvailabilityRange::HOURS_OF_DAY) %></div>
        <div class="col m4 s12"><span class="actions"><%= f.submit "Add #{Date::DAYNAMES[d]} ", class: "btn grey lighten-2 waves-teal waves-effect waves-light light-blue-text"%></span></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
