<h3>Availability</h3>
<table>
  <tr>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
<% (0..6).to_a.each do |d| %>
  <tr>
    <% if @teacher.availability_ranges.find_by(weekday: d) %>
    <% t = @teacher.availability_ranges.find_by(weekday: d) %>
      <td><%= "#{t.weekday_name}" %></td>
      <td><%= "#{t.start_time_to_12h}" %></td>
      <td><%= "#{t.end_time_to_12h}" %></td>
        <% if current_user && current_user.id == @teacher.user_id %>
          <td> <%= link_to "Edit", edit_availability_range_path(t.id) %> <%= link_to "Delete", availability_range_path(t.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}   %> </td>
        <% end %>
    <% else %>
      <% @availability_range = AvailabilityRange.new %>
      <%= form_for @availability_range do |f| %>
        <td><%= "#{Date::DAYNAMES[d]}" %></td>
        <%= f.hidden_field(:weekday, value: d)%>
        <td><%= f.select(:start_time, AvailabilityRange::HOURS_OF_DAY) %></td>
        <td><%= f.select(:end_time, AvailabilityRange::HOURS_OF_DAY) %></td>
        <td><span class="actions"><%= f.submit "Add #{Date::DAYNAMES[d]} "%></span></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
