<% if current_user != nil %>

  <% if current_user.student %>

    <% if current_user.student.lessons.length > 0 %>
    <h3>Your upcoming lessons as a student</h3>
      <% current_user.student.lessons.each do |l| %>
        <% if l.time > Time.now %>
        <ul>
          <li>
          <%= "#{l.teacher.subject} with #{l.teacher.first_name} #{l.teacher.last_name} | " %>
          <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")} | " %>
          <%= "For $#{l.teacher.price} per hour" %>
          <button><%= link_to "View Lesson", lesson_path(l.id) %></button></li>
        </ul>
        <% end %>
      <% end %>

    <h3>Your past lessons as a student</h3>
      <% current_user.student.lessons.each do |l| %>
        <% if l.time < Time.now %>
        <ul>
          <li>
          <%= "#{l.teacher.subject} with #{l.teacher.first_name} #{l.teacher.last_name} | " %>
          <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")} | " %>
          <%= "For $#{l.teacher.price} per hour" %>
          </li>
        </ul>
        <% end %>
      <% end %>

    <% else %>
    <h3>You have not booked any lessons!</h3>
    <% end %>

  <% elsif current_user.teacher %>
    <% if @teacher.availability_ranges.count > 0 %>
      <%= render 'availability_ranges/show' %>
    <% else %>
      <h3>Please select your availability</h3>
    <% end %>

    <% if @teacher.availability_ranges.count < 7 %>
      <h4>Add to your availability</h4>
      <%= render 'availability_ranges/update' %>
    <% end %>

    <% if @teacher.lessons.length != 0  %>
      <h3>Your lessons as a teacher</h3>
      <% current_user.teacher.lessons.each do |l| %>
        <% if l.time > Time.now %>
        <ul>
          <li>
          <%= "Lesson with:#{l.student.first_name} #{l.student.last_name}" %>
          <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")} | " %>
          <button><%= link_to "View Lesson", lesson_path(l.id) %></button>
          </li>
        </ul>
        <% end %>
      <% end %>

    <h3>Your past lessons as a teacher</h3>
      <% current_user.teacher.lessons.each do |l| %>
        <% if l.time < Time.now %>
        <ul>
          <li>
          <%= "Lesson with:#{l.student.first_name} #{l.student.last_name}" %>
          <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %>
        </li>
      </ul>
        <% end %>
      <% end %>

    <% else %>
    <h3>No one has booked a lesson with you yet</h3>
    <% end %>

    <% else %>
    <h3>Please select whether you'd like to learn or teach!</h3>
  <% end %>

<% else %>
<!--Doesn't Work Yet  -->
<h3>Please log in!</h3>
<% end %>
