<div class="container">
<% if current_user == nil %>
  <%= render 'loginmessage' %>
<% else %>

<!-- Student Section Starts Here -->
  <% if current_user.student %>

    <!-- Showing Students Lessons if they have any -->
    <% if current_user.student.lessons.length > 0 %>
    <!-- Showing lessons that are in the future -->
      <section id="student-lessons">
      <h3>Upcoming lessons</h3>
      <div id="current-student-lessons">
      <% current_user.student.lessons.each do |l| %>
        <% if l.time > Time.now %>
          <ul>
            <div class="current-student-lesson">
              <li>
                <%= "#{l.teacher.subject} with #{l.teacher.first_name} #{l.teacher.last_name} | " %>
                <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")} | " %>
                <%= "For $#{l.teacher.price} per hour" %>
                <button><%= link_to "View Lesson", lesson_path(l.id) %></button>
              </li>
            </div>
          </ul>
        <% end %>
      </div>
      <% end %>
      <!-- Showing Lessons that are in the past -->
      <div id="past-student-lessons">
      <% current_user.student.lessons.each do |l| %>
        <% if l.time < Time.now %>
        <h3>Past lessons</h3>
          <ul>
            <div class="past-student-lessons">
              <li>
                <%= "#{l.teacher.subject} with #{l.teacher.first_name} #{l.teacher.last_name} | " %>
                <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")} | " %>
                <%= "For $#{l.teacher.price} per hour" %>
              </li>
            </div>
          </ul>
        <% end %>
      </div>
      <% end %>
    <!-- Showing that a student hasn't booked any lessons -->
    <% else %>
    <h3>You have not booked any lessons!</h3>
    <% end %>
  </section>
<!-- Teacher section starts here -->
  <% elsif current_user.teacher %>
    <%= link_to "Edit Profile", edit_teacher_path %>
    <section id='teacher-availability'>
      <h5><%= "You are available for lessons #{@teacher.availability_ranges.count} days a week" %></h5>
      <%= render 'availability_ranges/show' %>
    </section>

    <% if @teacher.lessons.length != 0  %>
      <h5>Upcoming lessons</h5>
      <div id="current-teacher-lessons">
      <% current_user.teacher.lessons.each do |l| %>
        <% if l.time > Time.now %>
        <ul>
          <div class="current-teacher-lessons">
            <li>
              <%= "Lesson with:#{l.student.first_name} #{l.student.last_name}" %>
              <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")} | " %>
              <button><%= link_to "View Lesson", lesson_path(l.id) %></button>
            </li>
          </div>
        </ul>
        <% end %>
      <% end %>
    </div>

      <% current_user.teacher.lessons.each do |l| %>
        <% if l.time < Time.now %>
        <h5>Past lessons</h5>
        <ul>
            <li>
              <%= "Lesson with:#{l.student.first_name} #{l.student.last_name}" %>
              <%= "Date & Time: #{l.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %>
            </li>
        </ul>
        <% end %>
      <% end %>

    <% else %>
    <h5>No one has booked a lesson with you yet</h5>
    <% end %>

    <% else %>
    <h5>Please select whether you'd like to learn or teach!</h5>
  <% end %>
<% end %>
</div>
