<% if current_user.student %>
  <h3>Your lessons as a student</h3>
  <% current_user.student.lessons.each do |l| %>
    <%= "#{l.teacher.subject} with #{l.teacher.first_name} #{l.teacher.last_name} | " %>
    <%= "Date & Time: #{l.time} | " %>
    <%= "For $#{l.teacher.price} per hour" %>
    <%= link_to "View Lesson", lesson_path(l.id) %><br>
  <% end %>
<% end %>

<% if current_user.teacher %>
  <h3>Your lessons as a teacher</h3>
  <% current_user.teacher.lessons.each do |l| %>
    <%= l.student.first_name %>
    <%= l.time %>
  <% end %>
<% end %>
