<div class="container center">
<% if current_user == nil %>
  <%= render 'loginmessage' %>
<% else %>

<!-- Student Section Starts Here -->
  <% if current_user.student %>

    <!-- Showing Students Lessons if they have any -->
    <% if current_user.student.lessons.length > 0 %>
    <!-- Showing lessons that are in the future -->
    <h5>Upcoming lessons</h5>
    <div id="current-student-lessons">
          <table>
            <thead>
              <tr>
                <th>Teacher</th>
                <th>Time</th>
                <th>Format</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
          <% current_user.student.lessons.each do |l| %>
          <% if l.time > Time.now %>
            <tr>
                  <td><%= "#{l.teacher.first_name} #{l.teacher.last_name}" %></td>
                  <td><%= "#{l.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %></td>
                  <td><%= l.format.titleize %></td>
                  <td><%= link_to "View Lesson", lesson_path(l.id) %></td>
            </tr>
            <% end %>
          <% end %>
            </tbody>
          </table>
        </div>
      <!-- Showing Lessons that are in the past -->
      <% if current_user.student.lessons.where(time: Time.now-5.years..Time.now).count > 0 %>
      <h5>Past lessons</h5>
      <div id="past-student-lessons">
            <table>
              <thead>
                <tr>
                  <th>Teacher</th>
                  <th>Time</th>
                  <th>Format</th>
                </tr>
              </thead>
              <tbody>
            <% current_user.student.lessons.each do |l| %>
            <% if l.time < Time.now %>
              <tr>
                    <td><%= "#{l.teacher.first_name} #{l.teacher.last_name}" %></td>
                    <td><%= "#{l.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %></td>
                    <td><%= l.format.titleize %></td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
              </tbody>
            </table>
          </div>
    <!-- Showing that a student hasn't booked any lessons -->
    <% else %>
    <h3>You have not booked any lessons!</h3>
    <% end %>
  </section>
<!-- Teacher section starts here -->
  <% elsif current_user.teacher %>
  <div class=row>
    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li class="waves-effect waves-light"><a href=<%= edit_teacher_path %>><i class="material-icons"></i>Edit Profile</a></li>
        <li class="waves-effect waves-light"><a href="#upcoming"><i class="material-icons"></i>Upcoming Lessons</a></li>
        <li class="waves-effect waves-light"><a href="#past"><i class="material-icons"></i>Past Lessons</a></li>
        <li class="waves-effect waves-light"><a href="#availability"><i class="material-icons"></i>Edit Availability</a></li>
      </ul>
    </div>
  </div>

    <% if @teacher.lessons.length != 0  %>
    <a name="upcoming"></a>
    <h5>Upcoming lessons</h5>
    <div id="current-teacher-lessons">
        <table>
          <thead>
            <tr>
              <th>Student</th>
              <th>Time</th>
              <th>Format</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
        <% current_user.teacher.lessons.each do |l| %>
        <% if l.time > Time.now %>
          <tr>
                <td><%= "#{l.student.first_name} #{l.student.last_name}" %></td>
                <td><%= "#{l.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %></td>
                <td><%= l.format.titleize %></td>
                <td><%= link_to "View Lesson", lesson_path(l.id) %></td>
          </tr>
          <% end %>
        <% end %>
          </tbody>
        </table>
      </div>
      <% if current_user.teacher.lessons.where(time: Time.now-5.years..Time.now).count > 0 %>
        <a name="past"></a>
        <h5>Past Lessons</h5>
        <div id="past-teacher-lessons">
            <table>
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Time</th>
                  <th>Format</th>
                </tr>
              </thead>
              <tbody>
            <% current_user.teacher.lessons.each do |l| %>
              <% if l.time < Time.now %>
              <tr>
                    <td><%= "#{l.student.first_name} #{l.student.last_name}" %></td>
                    <td><%= "#{l.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %></td>
                    <td><%= l.format.titleize %></td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <div class="divider"></div>
        <br>
        <a name="availability"></a>
      <section id='teacher-availability'>
        <h5><%= "You are available for lessons #{@teacher.availability_ranges.count} days a week" %></h5>
        <%= render 'availability_ranges/show' %>
      </section>
        <br>
        <br>
    <% else %>
    <h5>No one has booked a lesson with you yet</h5>
    <% end %>

    <% else %>
    <h5>Please select whether you'd like to learn or teach!</h5>
  <% end %>
<% end %>
</div>
