<div class="container">
  <!-- Start loop to make a single teacher -->
  <% @teachers.each do |t| %>
  <div class="row">
    <div class="col s12">
      <%= "#{t.first_name} #{t.last_name}" %>
    </div>
    <div class="col s6">
      <img src="<%= t.picture %>" alt="">
      <%= link_to 'View Full Profile', teacher_path(t) %>
      <%= link_to 'Book Lesson', new_teacher_lesson_path(t) %>
    </div>
    <div class="col s6">
      <%= t.city %>
      <%= t.price %>
      <% t.availability_ranges.each do |a| %>
        <%= a.weekday_name[0, 3] %>
        <%= a.start_time_to_12h %>
        <%= a.end_time_to_12h %>
      <% end %>
    </div>
  </div>
  <!-- End loop to make a single teacher here -->
  <% end %>
</div>
