<% if current_user == nil %>
  <%= render 'users/loginmessage' %>
<% else %>
  <% if current_user.student %>
    <h1><%= "#{@teacher.subject} lessons with #{@teacher.first_name} #{@teacher.last_name}" %></h1>
    <%= form_for([@teacher, @lesson]) do |f| %>
    <% if @lesson.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(@lesson.errors.count, "Error") %> prevented this lesson from being created:</h2>
           <ul>
             <% @lesson.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
       <% end %>
      <div class="field">
        <%= f.label :time %><br />
        <%= f.datetime_field :time, min: (Date.today + (1.day)), :step => 3600, max: (Date.today + (1.year)) %>
      </div>
      <div class="actions"><%= f.submit %></div>
    <% end %>
  <% else %>
    <h1>You are not a student</h1>
  <% end %>
<% end%>
