<div class="container">
<!--If current user does not exist - redirect to login page  -->
<% if current_user == nil %>
  <%= render 'users/loginmessage' %>
<% elsif current_user.teacher && current_user.teacher.id == @lesson.teacher_id || current_user.student && current_user.student.id == @lesson.student_id %>

<div class="row">
  <div class="col s12 m3">
    <h5><%= "#{@lesson.teacher.subject}" %></h5>
    <p>Teacher: <%= "#{@lesson.teacher.first_name} #{@lesson.teacher.last_name}"  %></p>
    <p>Student: <%= "#{@lesson.student.first_name} #{@lesson.student.last_name}"  %></p>
    <p><%= "#{@lesson.time.strftime("%A, %B %d, %Y at %I:%M %p")}" %></p>
    <%= link_to "Cancel Lesson", lesson_path(@lesson.id), method: :delete, data: {confirm: "Are you sure you want to delete this lesson?"} %><br>
  </div>

<!--If lesson is online display video portal  -->
  <% if @lesson.format == 'online' %>
    <div class="col s12 m9 center">
      <h4>Video Lesson Portal</h4>
      <iframe src="https://appear.in/etudehq<%= @lesson.id %>" width="100%" height="640" frameborder="0"></iframe>
    </div>

  <!--If lesson if offline display google maps  -->
  <% elsif @lesson.format == 'offline' %>
    <div class="col s12 m9 center">
      <h4><%= "Directions to #{@lesson.teacher.first_name}" %> </h4>
        <iframe
          width="100%"
          height="500px"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?key=<%= Rails.application.secrets.maps_key %>&origin=<%= @lesson.student.full_address %>&destination=<%= @lesson.teacher.full_address %>" allowfullscreen>
        </iframe>
    </div>
  <% end %>
</div>

<% else %>

  <h3>This is not your lesson</h3>

<% end %>
</div>
