<% if current_user == nil %>
  <%= render 'users/loginmessage' %>
<% elsif current_user.teacher && current_user.teacher.id == @lesson.teacher_id || current_user.student && current_user.student.id == @lesson.student_id %>

  <%= "Student: #{@lesson.student.first_name} #{@lesson.student.last_name}"%>
  <%= "#{@lesson.teacher.subject} with #{@lesson.teacher.first_name} #{@lesson.teacher.last_name} | " %>
  <%= "Date & Time: #{@lesson.time} | " %>
  <%= "For $#{@lesson.teacher.price} per hour" %>
  <%= link_to "Cancel Lesson", lesson_path(@lesson.id), method: :delete, data: {confirm: "Are you sure you want to delete this lesson?"} %><br>

  <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=<%= Rails.application.secrets.maps_key %>&origin=<%= @lesson.student.full_address %>&destination=<%= @lesson.teacher.full_address %>" allowfullscreen>
</iframe>

<% else %>

  <h3>This is not your lesson</h3>

<% end %>
