<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-5">Welcome to Étude</h1>
      <div class="row center">
        <h5 class="header col s12 light">Where Freelance Teachers and Students Connect</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/hands.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Teachers</h5>

          <p class="light">Are you the master of your subject and want to connect to students who want to learn from you?
            Étude provides a platform for freelance teachers to build a profile, share their experience, and connect with
            students who are eager to learn.  Start today by filling out your profile, and get to teaching!
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Students</h5>

          <p class="light">Keen to learn knitting with Eric?  I wouldn't be, but whatever, the guy for some reason thinks he is
            good at knitting, good enough even that he will take your money in exchange for spending time with him.  Worth it? We
            will leave that to you to find out.  Book a lesson with Eric at your own risk, or maybe check out some of our other teachers...
          </p>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="pianolessons.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<section id="subjects">
<h2>Subjects</h2>
  <ul>
  <% @subjects.each do |s| %>
    <div class="subject">
      <li><p><%= link_to s.subject, subjects_url(:subject => s.subject) %></p></li>
    </div>
  <% end %>
  </ul>
</section>

<section id="teachers">
<h2>Teachers</h2>
  <ul>
  <% @teachers.each do |t| %>
    <%= link_to teacher_url(t.id) do %>
      <div class="teacher">
        <img src="<%= t.picture %>" alt="<%= t.first_name %> Picture">
        <p class="teacher-name"><%=  "#{t.first_name} #{t.last_name}" %></p>
        <p class="teacher-subject"><%=  "#{t.subject} " %></p>
        <p class="teacher-price"><%=  "$#{t.price} per hour" %></p>
      </div>
    <% end %>
  <% end %>
  </ul>
</section>
