<img src="http://placekitten.com/g/1536/1000" alt="">
<section id="subjects">
<h2>Subjects</h2>
<% @subjects.each do |s| %>
<div class="container">
 <div class="row">
   <div class="col s3">
    <div class="card-panel">
      <span class="white-text"><%= link_to s.subject, subjects_url(:subject => s.subject) %></span>
     </div>
   </div>
 </div>
</div>
<% end %>
</section>

<section id="teachers">
<h2>Teachers</h2>
  <ul>
  <% @teachers.each do |t| %>
    <%= link_to teacher_url(t.id) do %>
      <div class="teacher">
        <img src="<%= t.picture %>" alt="<%= t.first_name %> Picture">
        <p class="teacher-name"><%=  "#{t.first_name} #{t.last_name}" %></p>
        <p class="teacher-subject"><%=  "#{t.subject} " %></p>
        <p class="teacher-price"><%=  "$#{t.price} per hour" %></p>
      </div>
    <% end %>
  <% end %>
  </ul>
</section>
