<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-5">Welcome to Étude</h1>
      <div class="row center">
        <h5 class="header col s12 white-text light">Where Freelance Teachers and Students Connect</h5>
      </div>
      <% if current_user && current_user.student == nil && current_user.teacher == nil %>
        <div class="row center">
          <a href="<%= new_teacher_path %>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Teaching</a><br /><br />
          <a href="<%= new_student_path %>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Learning</a>
        </div>
      <% end %>
      <% if current_user == nil %>
        <div class="row center">
          <a href="<%= new_user_path %>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a><br /><br />
        </div>
      <% end %>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/hands.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="medium material-icons">face</i><i class="medium material-icons">school</i></h2>
          <h5 class="center">For Teachers</h5>

          <p class="light">Are you the master of a subject and want to connect to students who are ready learn?
            Étude provides a platform for freelance teachers to build a profile, share their experience, and book
            both online and in person lessons with students who are eager to learn. <br /><br /> Fill out your profile and start
            booking lessons today!
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="medium material-icons">group</i><i class="medium material-icons">local_library</i></h2>
          <h5 class="center">For Students</h5>

          <p class="light">Keen to learn knitting from Eric?  I wouldn't be, but whatever, the guy for some reason thinks he is
            good enough at knitting to warrant taking your money in exchange for spending time with him.  Worth it? We
            will leave that to you to find out.  <br /><br />Book a lesson with Eric at your own risk, or maybe check out some of our other teachers instead...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">

  </div>
  <div class="parallax"><img src="pianolessons.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i>Find Teachers by Subject</h3>
        <ul>
        <% @subjects.each do |s| %>
          <div class="chip">
            <%= link_to s.subject, subjects_url(:subject => s.subject) %>
          </div>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4>Featured Teachers</h4>
      <ul class="collection">
        <% @teachersfeat.each do |t| %>
        <li class="collection-item avatar teal lighten-4" href="#">
          <img src="<%= t.picture %>" alt="<%= t.first_name %> Picture" class="circle">
          <span class="title"><%= "#{t.first_name} #{t.last_name}" %></span>
          <p class="teacher-subject"><%=  "#{t.subject} " %></p>
          <p class="teacher-price"><%=  "$ #{t.price} " %></p>
          <a href="#!" class="secondary-content orange-text">
          <% rand(4..5).times do %>
          <i class="material-icons">grade</i>
          <% end %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
      <div class="col s12 m6">
        <h4>Newest Teachers</h4>
        <ul class="collection">
          <% @teachersnew.each do |t| %>
          <li class="collection-item avatar brown lighten-4">
            <img src="<%= t.picture %>" alt="<%= t.first_name %> Picture" class="circle">
            <span class="title"><%= "#{t.first_name} #{t.last_name}" %></span>
            <p class="teacher-subject"><%=  "#{t.subject} " %></p>
            <p class="teacher-price"><%=  "$ #{t.price} " %></p>
            <a href="#!" class="secondary-content orange-text">
            <% rand(1..4).times do %>
            <i class="material-icons">grade</i>
            <% end %>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>
