
<section id="subjects">
  <div class="row">
    <div class="col offset-s5">
      <h2>Subjects</h2>
    </div>
  </div>
<div class="container">
 <div class="row">
   <% @subjects.each do |s| %>
   <div class="col s4">
    <div class="card-panel teal">
      <span class="white-text"><%= link_to s.subject, subjects_url(:subject => s.subject) %></span>
     </div>
   </div>
   <% end %>
 </div>
</div>
</section>

<section id="teachers">
  <div class="row">
    <div class="col offset-s5">
      <h2>Teachers</h2>
    </div>
  </div>
  <ul>
  <% @teachers.each do |t| %>
    <%= link_to teacher_url(t.id) do %>
      <div class="teacher">
        <img src="<%= t.picture %>" alt="<%= t.first_name %> Picture">
        <p class="teacher-name"><%=  "#{t.first_name} #{t.last_name}" %></p>
        <p class="teacher-subject"><%=  "#{t.subject} " %></p>
        <p class="teacher-price"><%=  "$#{t.price} per hour" %></p>
      </div>
    <% end %>
  <% end %>
  </ul>
</section>
