
<div class="parallax-container">
  <div class="parallax"><img style="max-width:100%; height:auto;" src="http://neurobonkers.com/wp-content/uploads/2014/12/Learning-how-to-learn.jpg"></div>
</div>

<div class="container">
<section id="subjects">
  <div class="container">
    <h4>Subjects</h4>
  </div>
  <div class="carousel">
    <% @teachers.each do |t| %>
    <a class="carousel-item" href="<%= teacher_path(t) %>">
<!-- Took from here: -->
      <div class="card horizontal blue lighten-5">
        <div class="card-image"><img style="border-radius:50%; margin:5px;" src="<%= t.picture %>"></div>
      <p><%= "#{t.first_name} #{t.last_name}" %></p>
    </div>
<!-- To here Out -->
    </a>
    <% end %>
  </div>

</section>
<section id="teachers">
  <div class="row">
      <div class="col s6">
      <div class="container">
      <% @teachers.each do |t| %>
      <div class="card horizontal blue lighten-5">
        <div class="card-image"><img style="border-radius:50%;" src="<%= t.picture %>"></div>
          <div class="card-stacked">
            <div class="card-action">
              <%= link_to "#{t.first_name} #{t.last_name}", teacher_path(t) %>
            </div>
            <div class="card-content">
              <p><%= "#{t.subject} " %><br /><strong><%= "$ #{t.price} " %></strong>per hr</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>

  </div>
</section>

</div>
