<!DOCTYPE html>
<html>
  <head>
    <title>Etude</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Étude', root_path %></h1>
      <% if current_user %>
        <% if current_user.teacher %>
          <%= 'Hello Teacher ' + current_user.first_name %>
        <% elsif current_user.student %>
          <%= 'Hello Student ' + current_user.first_name %>
        <% else %>
          <%= link_to "I want to teach", new_teacher_path %>
          <%= link_to "I want to learn", new_student_path %>
        <% end %>
        <%= link_to 'Log Out', session_path(current_user.id), :method => :delete %>
        <%= link_to 'My Profile', user_path(current_user.id) %>
      <% else %>
        <%= link_to 'Log In', new_session_path %>
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </header>
    <section id="main">
      <%= yield %>
    </section>
  </body>
</html>
